body{
 background-color: rgb(253, 253, 253);
 text-align: center;
}
h1 {
    font-style: italic;
    color: rgb(236, 7, 7);
    font-size: larger;
}
h2 {
    color: rgb(229, 93, 14);
    font-weight:200;
}

.imagem {
    width: 50%;
}
.imagem2 {
 width: 40%;
}
.lista {
    text-align: left;
    color: rgb(0, 0, 0);
}
.pizza {
    color: rgb(18, 0, 96);
}